@model CRUD.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameLast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameLast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscribed)
        </dt>
        <dd class = "col-sm-10">
            <input asp-for="Subscribed" />
            @*<br /><br />
            <select asp-for="NameFirst">
                <option value=""></option>
                <option value="John">John</option>
                <option value="Bob">Bob</option>
            </select>*@
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
