@model IEnumerable<CMSShoppingCart.Areas.Admin.Models.ViewModels.Shop.OrdersForAdminVM>

@{
    ViewBag.Title = "Orders";
}

<h2>@ViewBag.Title</h2>

@if(!Model.Any())
{
    <h3>There are no orders.</h3>
} else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                Order Details
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @foreach(var det in item.ProductAndQty)
                    {
                        @det.Key @:x @det.Value<br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateOn)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }

    </table>
}

